 
    <img [src]="imageList[currentIndex]" class="image-container"  height="700px" width="100%">
    
 <div style="height: 50px;"></div>



 

<div class="containers">
  <div class="section">
    <h1>Event List</h1>
    <app-event-home-list [IsHome]="true" [minNumberOfCards]="5"> </app-event-home-list>
 
  </div>

  <div class="section">
    <h1>Business List</h1>
    <app-business-directory></app-business-directory>
  </div> 
  <div class="section">
    <h1>Self Employee</h1>
    <app-self-employee></app-self-employee>
  </div>

  <div class="section">
    <h1>Job List</h1>
    <app-jobs></app-jobs>
  </div>
</div> 
 




    <!-- <h1 style="font-weight: bold;text-align: center;">Event List</h1>
    <app-events></app-events>  
    <h1 style="font-weight: bold;text-align: center;">Business List</h1>
    <app-business-directory></app-business-directory> 
 
    <h1 style="font-weight: bold;text-align: center;">Self Employee</h1>
    <app-self-employee></app-self-employee>
    <h1 style="font-weight: bold;text-align: center;">Job List</h1>
    <app-jobs></app-jobs> -->


    <!-- !testing -->
    <!-- https://www.codingnepalweb.com/demos/side-navigation-bar-html-css-javascript/ -->