<div class="business-card-container">
  <div class="business-card" *ngFor="let data of Data" >
    <div class="left-side">
      <div class="logo-container">
        <img
          src="{{
            'https://seekers.sgp1.digitaloceanspaces.com/' +
              data.event_image.storage_name
          }}"
          alt="{{ data.event_name }}"
          class="company-logo"
        />
      </div>

    </div>
    <div class="right-side" style="align-self: center;width: 220px;" >
      <h2 style="font-weight: bold">{{ data.event_name }}</h2>
      <!-- <p>{{ data.basic_details.start_date }}</p> -->
      <p><i class="fa fa-users" aria-hidden="true"></i>{{ data.event_participants.length }}</p>
      <!-- <p>{{ data.Address }}</p> -->
    </div>
  </div>
  <a style="text-decoration: none;cursor: pointer;">view more</a>

</div>
 