<!-- <nav class="navbar navbar-expand-lg navbar-light " style="background-color:brown">
  <img id="ani3" src="assets/image/vdirectory-small-logo.png"  alt="Logo" width="100" height="60" style="width: 140px;" class="d-inline-block align-text-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03"This is the content of the bottom div. >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="cursor: pointer;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;">Contact</a>
      </li>
    </ul>

  </div>
</nav> -->

<!-- <div class="carousel-container">
  <div class="banner">
    <div *ngFor="let image of data1; let i = index" class="carousel-item" [class.active]="i === currentIndex">
      <img [src]="image" alt="" style="width: 100%; height: 550px; object-fit: cover;">
    </div>
  </div>
   




</div> -->

<!-- <div class="schedule">
  <h5>SEE WHAT'S ALL ABOUT</h5>
  <h1>Schedule</h1>
  <ngx-slick-carousel class="carousel" [config]="slickCarouselConfig">
    <div *ngFor="let day of days1">
      <div class="day-container">
        <div style="background-color: wheat; width: 25%;">
          <h2>{{ day.title }}</h2>
        </div>
        <div class="sessions-container">
          <div *ngFor="let session of day.sessions" class="session">
            <div class="time">{{ session.time }}</div>
            <div class="session-details">
              <h3>{{ session.title }}</h3>
              <p>Host: {{ session.host }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div> -->

<div class="carousel-container">
  <div class="banner">
    <div
      *ngFor="let image of EventImages; let i = index"
      class="carousel-item"
      [class.active]="i === currentIndex"
    >
      <img
        [src]="docBasePath + image.storage_name"
        alt=""
        style="width: 100%; height: 550px; object-fit: cover"
      />
    </div>
  </div>
</div> 
<app-counter  [target_date]='startdate' *ngIf="startdate"></app-counter>
 

<div
  style="
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <div *ngFor="let basicdata of event_basic">
    <h2>About event</h2>

    <p>{{ basicdata.event_description }}</p>
  </div>
</div>

<br/>
<br/>

<div
  style="
    width: 100%;
    height: 150px;
    background-color: darkcyan;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
  "
>


  <div>
    <h1>20+</h1>
    <span>Speaker</span>
  </div>

  <div>
    <h1>40+</h1>
    <span>participants</span>
  </div>


</div>


<!-- AgendaData -->
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
  "
>
  <h1
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    "
  >
    Schedule
  </h1>

  <div
    *ngFor="let iterator of this.AgendaData"
    class="row"
    style="display: flex; gap: 15px; justify-content: center"
  >
    <div
      class="card"
      style="
        margin: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
      "
    >
      <div *ngFor="let start of startDate; let i = index">
        <div
          class="card-title-container"
          style="
            background-color: cadetblue;
            text-align: center;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          "
        >
          Day {{ i + 1 }}: {{ start }}
        </div>
      </div>

      <div
        class="session-card"
        style="padding: 15px; border-bottom: 1px solid #ddd"
      >
        <div style="font-weight: bold">{{ iterator.session_name }}</div>
        <div>{{ iterator.short_description }}</div>
        <!-- <button mat-raised-button (click)="yourFunction()">Youtube</button> -->
      </div>
    </div>
  </div>
</div>

<br />
<br /><br />
<h1 style="display: flex; justify-content: center; align-items: center">
  Our Gallery
</h1>
<div style="display: flex; justify-content: center; align-items: center">
  <div
    *ngFor="let images of EventImages"
    style="flex-direction: row; display: flex"
  >
    <img
      [src]="docBasePath + images.storage_name"
      alt=""
      style="width: 250px; height: 150px; margin: 15px"
    />
  </div>
</div>
<br />

<!-- flex-direction: column; -->
<div
  style="
    background-color: #f5f8fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <h5 style="margin: 10px">SEE WHAT'S ALL ABOUT</h5>
  <h1>Speakers</h1>

  <div class="card-row" style="display: flex; width: 100%">
    <div
      *ngFor="let row of SpeakerData"
      class="cards"
      style="flex: 0 0 auto; margin: 10px"
    >
      <div
        class="card-image-speaker"
        style="
          position: relative;
          overflow: hidden;
          border-radius: 8px;
          height: 200px;
          width: 200px;
        "
      >
        <img
          [src]="row.user_photo"
          alt=""
          style="width: 100%; object-fit: cover; border-radius: 8px"
        />
        <div
          class="session-title-hover"
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: cadetblue;
            color: white;
            padding: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          "
        >
          {{ row.first_name }}
        </div>
      </div>
    </div>
  </div>
</div>


<div
  style="
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
  "
>
  <h1
    style="
      margin-bottom: 10px;
      font-size: 1.5em;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      letter-spacing: 1px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    "
  >
    Join Our Event
  </h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam illo quaerat
    a iste eligendi vero, reiciendis labore debitis itaque beatae eveniet
    perferendis inventore veniam deserunt, rerum, ratione nam fugit autem?
  </p>
  <button mat-raised-button style="width: 10%" (click)="navigate()">
    JOIN EVENT
  </button>
</div>


<div *ngIf="">
  <!-- <card></card> -->

</div>

<style>
  .containers {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  .bottom-div {
    position: absolute;
    bottom: 0;
    width: 50%;
    /* height: 100px; */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25%;
  }
  .counter {
    text-align: center;
    font-size: 2em; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
  }
</style>
