 
<div class="business-card-container">
    <div class="business-card" *ngFor="let data of Data">
      <div class="left-side">
        <div class="logo-container">
          <img src="{{data.Company_logo}}" alt="{{data.companyName}}" class="company-logo">
        </div>
      </div>
      <div class="right-side" style="align-self: center;justify-self: center;width: 220px;" >
        <div>
          <h2 style="font-weight: bold; margin-bottom: 5px;">{{data.companyName}}</h2>
          <div >{{data.industry}}</div>
        </div>

      <!-- <p><i class="fa fa-users" aria-hidden="true"></i>{{ data.opening }}</p> -->
        
        <p>{{data.title}}</p>   
        <p *ngIf="data.city"><i class="fa fa-map-marker" aria-hidden="true" style="padding-right: 5px;color: brown  ;" ></i>{{data.city}}</p>
      </div>
    </div>
  </div>




  <!-- [
    {
      
      MaximumExperience: 10,
      MinimumExperience: 0,
      Requirements: 'Testing',
      Skill: 'Angular',
      _id: '657fe5ef8539034294c90433',
      applied_job: 2,
      city: 'CHENNAI',
      companyId: 'GOK9148',
      companyName: 'Wipro',
      employmentType: 'INTERN',
      industry: 'IT Services',
      jobId: '1',
      opening: 3,
      refid: '654331ce4c36b5f156fc3880',
      role: 'Accounting & Taxation', 
      status: 'open',
      title: 'Back-end',
      update_on: '2024-01-09T11:59:55.042Z',
      validity: '2024-01-17T06:25:51.428Z',
      workmode: 'Remote'
    },
    {
      Company_logo: 
        'https://seekers.sgp1.digitaloceanspaces.com/company/Company_logo/download__2024-01-17-16-36-22.jpeg',
      CreatedOn: '2023-12-18T06:26:18.217Z',
      Description: 'Testing2',
      Education: [
        { education: 'Diploma' },
        { education: 'Medical-MS/MD' },
        { education: 'Any Graduate' }
      ],
      Location: 'Teynampet CHENNAI TAMIL NADU 600018',
      MaximumExperience: 4,
      MinimumExperience: 0,
      Requirements: 'Testing2',
      Skill: 'Figma',
      _id: '657fe60a8539034294c90434',
      applied_job: 0,
      city: 'CHENNAI',
      companyId: 'GOK9148',
      companyName: 'IBM',
      employmentType: 'INTERN',
      industry: 'IT Services',
      jobId: '2',
      opening: 6,
      refid: '654331ce4c36b5f156fc3880',
      role: 'Administration & Staff',
      salary: '5+ Cr',
      status: 'open',
      title: 'UI/UX',
      update_on: '2023-12-18T06:27:04.846Z',
      validity: '2024-01-17',
      workmode: 'Full Time'
    },
    {
      Company_logo: 
        'https://seekers.sgp1.digitaloceanspaces.com/company/Company_logo/download__2024-01-17-16-36-22.jpeg',
      CreatedOn: '2023-12-18T06:26:49.33Z',
      Description: 'Testing3',
      Education: [
        { education: 'BCA' },
        { education: 'B.B.A/ B.M.S' },
        { education: 'Postgraduate - Any' }
      ],
      Location: 'Teynampet CHENNAI TAMIL NADU 600018',
      MaximumExperience: 10,
      MinimumExperience: 0,
      Requirements: 'Frontent End',
      Skill: 'Testing3',
      _id: '657fe6298539034294c90435',
      applied_job: 0,
      city: 'CHENNAI',
      companyId: 'GOK9148',
      companyName: 'IBM',
      employmentType: 'Full Time',
      industry: 'IT Services',
      jobId: '3',
      opening: 7,
      refid: '654331ce4c36b5f156fc3880',
      role: 'After Sales Service & Repair',
      salary: '2-3 Lakhs',
      status: 'open',
      title: 'Frontent End',
      validity: '2024-01-17T06:26:49.327Z',
      workmode: 'Work From Office'
    }
  ] -->


 