 
<div class="business-card-container">
    <div class="business-card" *ngFor="let data of Data">
      <div class="left-side">
        <div class="logo-container">
          <img src="{{data.Company_logo}}" alt="{{data.companyName}}" class="company-logo">
        </div>
      </div>
      <div class="right-side" style="align-self: center;justify-self: center;width: 220px;" >
        <div>
          <h2 style="font-weight: bold; margin-bottom: 5px;">{{data.companyName}}</h2>
          <div >{{data.industry}}</div>
        </div>

      <!-- <p><i class="fa fa-users" aria-hidden="true"></i>{{ data.opening }}</p> -->
        
        <p>{{data.title}}</p>   
        <p *ngIf="data.city"><i class="fa fa-map-marker" aria-hidden="true" style="padding-right: 5px;color: brown  ;" ></i>{{data.city}}</p>
      </div>
    </div>
  <a style="text-decoration: none;cursor: pointer;">view more</a>

  </div>

