<ng-container>

<div  fxLayout="row" fxLayoutAlign="center center">
  <h1 style="font-size: 32px;font-weight: bold;" fxLayoutAlign="center center">
    Welcome to Job Seeker Onboarding
    <img src="/assets/image/vdirectory-small-logo.png" alt="" style="background-color: brown;">
  </h1> 
  <p></p>

</div>
 

<div style="height: 10px;">
</div>

 

<div fxLayout="row" fxLayoutAlign="center center">
  <button class="view-job">VIEW JOB</button>
  <button class="view-job">update Profile</button> 
  <button class="view-job" >Upload Resume</button> 
</div>
 
</ng-container>


<!-- <ng-container>

  <div fxLayout="row" fxLayoutAlign="center center">
    <h1 style="font-size: 32px; margin-top: 7%;">
      Welcome to Onboarding
      <img src="/assets/image/vdirectory-small-logo.png" alt="" style="background-color: brown;">
    </h1> 
  </div>
   
  
  <div style="height: 10px;">
  </div>
  
   
  
  <div fxLayout="row" fxLayoutAlign="center center">
    <button class="view-job">VIEW JOB</button>
    <button class="view-job">update Profile</button> 
    <button class="view-job" >Upload Resume</button> 
  </div>
   
  </ng-container>

  <ng-container>

    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 style="font-size: 32px; margin-top: 7%;">
        Welcome to Onboarding
        <img src="/assets/image/vdirectory-small-logo.png" alt="" style="background-color: brown;">
      </h1> 
    </div>
     
    
    <div style="height: 10px;">
    </div>
    
     
    
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="view-job">VIEW JOB</button>
      <button class="view-job">update Profile</button> 
      <button class="view-job" >Upload Resume</button> 
    </div>
     
    </ng-container> -->