<ng-container *ngIf="JobSeeker">

  <div style="height: 200px;">
  </div>

   
<div  fxLayout="row" fxLayoutAlign="center center"  >
  <h1 style="font-size: 32px;font-weight: bold;" fxLayoutAlign="center center">
    Welcome to Job Seeker Onboarding
    <img src="/assets/image/vdirectory-small-logo.png" alt="" style="background-color: brown;margin-left: 10px;">
  </h1> 
  <p></p>

</div>
 

<div style="height: 25px;">
</div>

 

<div fxLayout="row" fxLayoutAlign="center center">
  <button class="view-job" routerLink="/jobs">View Job</button>
  <button class="view-job" routerLink="/dashboard/createcv">update Profile</button> 
  <button type='button' class="view-job" (click)="onSelectFile($event)">Upload Resume</button>
  <input type="file" #fileInput style="display: none;" (change)="handleFileUpload()">
  <!-- <input id="fileInput" type='file' (change)="handleFileUpload()" (change)="onSelectFile($event)"> -->
 

</div>
<div style="height: 50%;">
</div>
</ng-container>

<ng-container *ngIf="company">

  <div style="height: 200px;">
  </div>

   
<div  fxLayout="row" fxLayoutAlign="center center"  >
  <h1 style="font-size: 32px;font-weight: bold;" fxLayoutAlign="center center">
    Welcome to Company Onboarding
    <img src="/assets/image/vdirectory-small-logo.png" alt="" style="background-color: brown;margin-left: 10px;">
  </h1> 
  <p></p>

</div>
 

<div style="height: 25px;">
</div>
 
<div fxLayout="row" fxLayoutAlign="center center">
  <button class="view-job" routerLink="/companies">View companies</button>
  <button class="view-job" routerLink="/dashboard/profile">update Profile</button> 
  <button   class="view-job" routerLink="/admin/preview-profile">Update Company Details</button> 
</div>
<div style="height: 50%;">
</div>
</ng-container>


<ng-container *ngIf="SelfEmpolyee">

  <div style="height: 200px;">
  </div>

   
<div  fxLayout="row" fxLayoutAlign="center center"  >
  <h1 style="font-size: 32px;font-weight: bold;" fxLayoutAlign="center center">
    Welcome to Self Employee / Voluntary Onboarding
    <img src="/assets/image/vdirectory-small-logo.png" alt="" style="background-color: brown;margin-left: 10px;">
  </h1> 
  <p></p>

</div>
 

<div style="height: 25px;">
</div>
 
<div fxLayout="row" fxLayoutAlign="center center">
  <button class="view-job" routerLink="/companies">View companies</button>
  <button class="view-job" routerLink="/dashboard/profile">update Profile</button> 
  <button   class="view-job" routerLink="/admin/preview-profile">Update Company Details</button> 
</div>
<div style="height: 50%;">
</div>
</ng-container>