<div > 
<div class="business-card-container">
    <div class="business-card" *ngFor="let data of Data">
      <div class="left-side">
        <div class="logo-container">
          <img src="{{data.user_profile}}" alt="{{data.user_name}}" class="company-logo">
        </div>
      </div>
      <div class="right-side" style="align-self: center;justify-self: center;width: 220px;" >
        <div>
          <h2 style="font-weight: bold; margin-bottom: 5px;">{{data.user_name}}</h2>
          <!-- <div >{{data.industry}}</div> -->
        </div>
        
        <!-- <p><i class="fa fa-phone" aria-hidden="true" style="padding-right: 5px;"></i>{{data.phone}}</p> -->
        <p><i class="fa fa-envelope" aria-hidden="true" style="padding-right: 2px;"></i>{{data.email}}</p>
        <!-- <p *ngIf="data.Address"><i class="fa fa-map-marker" aria-hidden="true" style="padding-right: 5px;color: brown  ;" ></i>{{data.Address}}</p> -->
      </div>
    </div> 


    <div style="text-align: center; margin-top: 10px;">
      <a
        style="text-decoration: none; cursor: pointer; display: inline-block; padding: 10px 20px;  border-radius: 5px;"
        
      >
        View More
      </a>
    </div>
  </div>
</div>

