 
<div class="business-card-container">
    <div class="business-card" *ngFor="let data of Data">
      <div class="left-side">
        <div class="logo-container">
          <img src="{{data.user_profile}}" alt="{{data.user_name}}" class="company-logo">
        </div>
      </div>
      <div class="right-side" style="align-self: center;justify-self: center;width: 220px;" >
        <div>
          <h2 style="font-weight: bold; margin-bottom: 5px;">{{data.user_name}}</h2>
          <!-- <div >{{data.industry}}</div> -->
        </div>
        
        <!-- <p><i class="fa fa-phone" aria-hidden="true" style="padding-right: 5px;"></i>{{data.phone}}</p> -->
        <p><i class="fa fa-envelope" aria-hidden="true" style="padding-right: 2px;"></i>{{data.email}}</p>
        <!-- <p *ngIf="data.Address"><i class="fa fa-map-marker" aria-hidden="true" style="padding-right: 5px;color: brown  ;" ></i>{{data.Address}}</p> -->
      </div>
    </div>
  </div>





  <!-- [
    {
      _id: '101761091537366569087',
      address: 'chennai',
      education: 'BCA',
      email: 'parthiban@kriyatec.com',
      firstName: 'Parthiban',
      isActive: true,
      isProfileCompleted: false,
      lastName: 'U',
      last_name: 'U',
      mobile_number: '85269444555',
      phone: '85269444555',
      role: 'user',
      update_on: '2024-01-17T13:49:52.225Z',
      user_id: '101761091537366569087',
      user_name: 'Parthiban',
      user_profile: 
        'https://lh3.googleusercontent.com/a/ACg8ocLhESVk5SxkN5-fDN0fYEW6J1hxDcgGrBTYcrShzx1HiA=s96-c',
      user_type: 'Self Employee//Skilled Labour'
    },
    {
      _id: '100574378359080832120',
      email: 'gobinath.r@kriyatec.com',
      isActive: true,
      isProfileCompleted: false,
      last_name: 'R',
      mobile_number: '545788555555',
      role: 'user',
      update_on: '2024-01-17T13:24:05.393Z',
      user_id: '100574378359080832120',
      user_name: 'Gobinath',
      user_profile: 
        'https://lh3.googleusercontent.com/a/ACg8ocKAh3XzoNaDOA1-E59aW1WRjF5NRfxTZPVnLd8kLGZU=s96-c',
      user_type: 'Self Employee//Skilled Labour'
    }
  ] -->