/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "~owl.carousel/dist/assets/owl.carousel.min.css";
@import "~owl.carousel/dist/assets/owl.theme.default.min.css";

:root {
  --main-color: #B7121A;
  --button-color:#FF6B00;
  --option-color:#FFC09C;
  --footer-color:#000000
}

.display-flex {
  display: flex;
  flex-wrap: wrap; 
}
.flex-1 {
  flex: 1;
  padding-left: 5px;
  /* Set a minimum width for smaller screens */
  min-width: 100px;
}
@media screen and (max-width: 768px) {
  .flex-1 {
    flex-basis: 50%; /* Two fields per row */
    max-width: 50%;
  }
}

/* Adjust field sizes for smaller screens */
@media screen and (max-width: 480px) {
  .flex-1 {
    flex-basis: 100%; /* One field per row */
    max-width: 100%;
  }
}



/* ! Start Radio Button */
.mat-mdc-form-field-infix .mat-mdc-radio-button .mdc-radio{
  height: auto !important;
  padding: 0;
  padding-left:  1px; 
  padding-right: 2px;
  display: flex;
  justify-content:space-between  !important;
}

.mat-mdc-form-field-infix .mat-mdc-radio-button .mdc-label{
  padding-right:  10px; 
 }

 
.not_completed { 
background-color: #f7f0f0 !important;
}
 
.rejected { 
background-color: rgb(255, 182, 182) !important;
}



.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}
[class*="flex-"] {
  padding-left: 20px;
  /* padding-right: 10px; */
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}

::ng-deep .mat-form-field .mat-form-field-flex{
  background-color: white; 
}

.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
  width: 100%;
}

.mat-mdc-form-field-infix .mat-mdc-radio-button .mdc-radio{
  height: auto !important;
  padding: 0;
  padding-left:  1px; 
  padding-right: 2px;
  display: flex;
  justify-content:space-between  !important;
}

.mat-mdc-form-field-infix .mat-mdc-radio-button .mdc-label{
  padding-right:  10px; 
 }

 
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}


.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}


.mat-raised-button.mat-primary {
  background-color: #013688;
  color: white;
}

.display-none {
  display: none;
}

.mat-mdc-raised-button[disabled][disabled] {
  color: white;
}

.mat-mdc-raised-button:not(:disabled) {
  color: white !important;
}


/* button color: ; */
.mat-mdc-raised-button{        
  background-color: #013688 !important;
}

.mat-icon {
  cursor: pointer;
}

.page-title {

  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  /* font-size: 18px;
  font-weight: 700;
  color: #132c9b; */
}

/* 
.mat-tab-body-content {
  overflow: hidden !important;
} */

/*datatable*/
.datatable-header-cell {
  /* font-size: 18px; */
  font-weight: 700;
}

.width-100 {
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.mat-error {
  color: darkred;
}



/*End of datatable*/

ul.has-error {
  padding: 0px;
}

.btnsize {
  width: 100px;
  margin-right: 5px;
}

.btn-check {
  color: #6d6d6d;
  background-color: #b5b9bd;
}

.btn-check .active {
  color: #fff;
  background-color: #0069d9;
}

.edit-popup .modal-content {
  margin-top: 110px;
  width: 448px;
  font-family: "Exo2-Regular", "Exo 2";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #666666;
  text-align: left;
  line-height: 26px;
  border-radius: 1px;
  overflow-x: hidden;
  margin-left: 8px;
  margin-right: 2px;
  border-top: 1px solid #00c5ab;
  border: none !important;
  height: 100%;
}

.edit-popup .modal-header {
  background: #016559;
  border: 1px solid #016559;
  color: #fff;
}

.edit-popup h4 {
  margin-left: -300% !important;
}

.edit-popup .modal-body {
  background: white;
}

.edit-popup .close {
  font-family: "Roboto-Regular", "Roboto";
  font-weight: 400;
  font-style: normal;
  color: #fff;
  opacity: 1;
  font-weight: normal;
  font-size: 30px;
  margin-left: 85%;
}

.card {
  border-color: transparent !important;
  border-radius: initial !important;
}